@font-face {
    font-family: 'Rubik';
    font-display: swap;
    src: url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Rubik-Regular.eot');
    src: local('Rubik Regular'), local('Rubik-Regular'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Rubik-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Rubik-Regular.woff2') format('woff2'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Rubik-Regular.woff') format('woff'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    font-display: swap;
    src: url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Barlow-SemiBold.eot');
    src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Barlow-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Barlow-SemiBold.woff2') format('woff2'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Barlow-SemiBold.woff') format('woff'),
        url('https://cdn.staticaly.com/gh/gadgetraja/official-site-statics/a421d8f8/fonts/subset-Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
