
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=3983c434-af3e-4a8e-a704-47969a7a7330");
    @font-face{
        font-family:"Eina_01 W01 Bold";
        src:url("Fonts/3ed3bb53-0b56-4f91-99e3-c96fb0d341df.woff2") format("woff2"),url("Fonts/c71b37f3-a219-4006-aa9b-4e0c48e2531d.woff") format("woff");
    }
    @font-face{
        font-family:"Proxima Nova W01 Regular";
        src:url("Fonts/b38b8bd9-d96f-4bf9-add1-adbd2b08b802.woff2") format("woff2"),url("Fonts/52ed7b2d-8a31-4b18-a1d5-8685608b0889.woff") format("woff");
    }
